:root {
    --cornflower: #6495ED;
    --light-grey: #CCDBF6;
    --light-yellow: #F8EBA6;
    --dark-grey: #252525;
    --wheat: #F8EBA6;
    --emoji-yellow: #FFCD15;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

body {
    background: linear-gradient(#6495ED, #CCDBF6);
}


    /*FONTS*/

@font-face {
    font-family: DMSans-Variable;
    src: url(/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: DMSans-Italic-Variable;
    src: url(/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

    /*TYPE HIERARCHY*/

.large-title { 
    font-family: DMSans-Variable;
    font-weight: 700;
    font-size: 64px;
    
}

.body-text {
    font-family: DMSans-Variable;
    font-weight: 500;
    font-size: 20px;
    color: var(--dark-grey);
}

.cta-text {
    font-family: DMSans-Variable;
    font-weight: 700;
    font-size: 20px;
}

.span-semibold {
    font-family: DMSans-Variable;
    font-weight: 600;
    font-size: 20px;
}



    /*CTA*/

#landing-page-cta {
    background-color: var(--wheat);
    padding: 0.5em 1em;
    border-radius: .5em;
    margin-top: .75em;
    /* border: var(--emoji-yellow) 1px solid ; */
}

#landing-page-cta:hover {
    background-color: var(--emoji-yellow);
    cursor: pointer;

    transition-duration: 1s;
	transition-property: background-color;
	transition-timing-function: linear;
	will-change: transform;
}



    /*LANDING PAGE*/

#index-nav-bar {
    display: flex;
    padding: 1.5em;
}

#landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25em;
    text-align: center;

    max-width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

